<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <switches>
      <!--	The level of trace information to be logged.
					0 = none
					1 = errors
					2 = warnings
					3 = informational
					4 = verbose
			-->
      <add name="TraceLevelSwitch" value="3"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="ExampleTrace" type="T4.TraceListener.T4TraceListener, T4TraceListener.40" initializeData="T4Example2\T4Example2, 5"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <!-- Enable the system default proxy server if there is one. -->
  <system.net>
    <defaultProxy enabled="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>

</configuration>
